/* Use your own code or past solution for Great Idea Web Page CSS here! */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Pacifico", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Supermercado One", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flex box */

.container {
  width: 100%;
  margin: auto;
  border: 1px solid silver;
  background: linear-gradient( 50deg, rgb(170, 169, 169), rgb(76, 129, 131), rgb(157, 253, 253), rgb(170, 169, 169));
}

@media (max-width: 800px) {
  .container  {
    width: 100%;
  }
  header nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10% 0%;
  }
  header nav img {
      position: absolute;
      padding-bottom: 15%;
      width: 50%;
  } 
  header nav a {
    border: 2px;
    
  }
  .iod img{
    display: none;
  }
  .section-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
  }
}

@media (max-width: 1000px) {
  .container  {
    width: 100%;
  }
  header nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10% 0%;
  }
  header nav img {
      position: absolute;
      padding-bottom: 15%;
      width: 50%;
  } 
  header nav a {
    border: 2px;
    
  }
  .iod img {
    display: none;
  }
  .section-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
  }
}


@media (max-width: 500px) {
  .container  {
    width: 100%;
  }
  header nav {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15% 0%;
  }
  header nav img {
      position: absolute;
      padding-bottom: 90%;
      width: 60%;
  } 
  header nav a {
    background-color: rgb(161, 168, 190);
    width: 100%;
    text-align: center;
    font-weight: bold;
  }
  .iod img {
    display: none;
  }
  .section-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    
  }
  .F, .A {
    
    
  }

  .S, .P, .V{

  }
}

@media (max-width: 600px) {
  .container  {
    width: 100%;
  }
  header nav {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15% 0%;
  }
  header nav img {
      position: absolute;
      padding-bottom: 50%;
      width: 60%;
  } 
  header nav a {
    background-color: rgb(161, 168, 190);
    width: 100%;
    text-align: center;
    font-weight: bold;
  }
.iod img {
    display: none;
  }
  .section-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: ;
  }
  .F, .A, .S, .P, .V {
    width: 100%;
    position: ;
  }
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  
}

header nav a {
  margin: auto;
  background-color: rgb(161, 168, 190);
  font-size: 20px;
  border-radius: 3%;
  padding: 5px;
  border: 2px outset snow;
  color: black;
  background: linear-gradient(50deg, #325163 0%, #8ddbd2 100%);
}
header nav a:hover {
  background: linear-gradient(50deg, #ff0844 0%, #ffb199 100%);
  border: 3px inset snow;
  color: snow;
}

header .logo {
  margin-left: 20px;
}

.iod {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: 3px solid teal;
  background: linear-gradient(50deg, Silver, SlateGrey, DarkSlateGrey, Silver);
}

.iod-text {
  font-size: 60px;
  color: black;
  float: left;
  margin: 10% auto auto auto;
  padding-bottom: 15%;
}
.iod button {
  font-size: 27px;
  border: 7px outset snow;
  border-radius: 20px;
  background: linear-gradient(50deg, #325163 0%, #8ddbd2 100%);
}

.iod button:hover {
  background: linear-gradient(50deg, #ff0844 0%, #ffb199 100%);
  border: 7px inset snow;
  color: snow;
}



.section-content {
  display: flex;
  border: 1px solid silver;
  background-color: silver;
  width: 96%;
  margin: 3% 10% 5% 2%;
  border: 1px solid teal;
  background: linear-gradient(50deg, Silver, LightGrey, DarkGrey, Silver);
  flex-direction: row;
  flex-wrap: wrap;
} 

h4 {
  font-size: 20px;
}
.F,
.A {
  font-size: 15px;
  letter-spacing: 2px;
  text-align: left;
  margin: 1% auto;
  float: left;
  margin-left: 3%;
  margin-bottom: 2%;
  border: 5px dotted silver;
} 

.F:hover,
.A:hover {
  background: linear-gradient(50deg, #ff0844 0%, #ffb199 100%);
  border: 7px groove snow;
  color: snow;
  padding: 3px;
}

.middle-img {
  width: 100%;
  margin: 3px;
}

.S,
.P,
.V {
  font-size: 15px;
  letter-spacing: 2px;
  text-align: left;
  margin: auto;
  float: left;
  border: 5px dotted silver;
}

@media (min-width: 500px){
  .F, .A {
    width: 47%;
  }
  .S, .P, .V {
    width: 30%;
  }
}

.S:hover,
.P:hover,
.V:hover {
  box-sizing: border-box;
  background: linear-gradient(50deg, #ff0844 0%, #ffb199 100%);
  border: 7px groove snow;
  color: snow;
  padding: 3px;
}

.contact{
  font-size: 15px;
  letter-spacing: 2px;
  text-align: left;
  width: 46.5%;
  float: left;
  margin-left: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border: 1px outset snow;
  color: black;
}
.contact:hover {
  background: linear-gradient(50deg, #ff0844 0%, #ffb199 100%);
  border: 7px inset snow;
  color: snow;
}
h3 {
  font-size: 20px;
  margin-left: 20px;
  width: 20%;
}
p {
  margin: 10px 10px 5px 20px;
}

span {
  margin: 1px;
}

#footer {
  text-align: center;
  margin-top: 225px;
  margin-bottom: 25px;
}

